<div class="bg-light">

  <!-- MODALS
    ================================================== -->
  <!-- Deposit modal -->
  <div class="modal fade" id="modalDeposit" tabindex="-1" role="dialog" aria-hidden="true" *ngIf="depositActionShowModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content bg-lighter">
        <div class="modal-body">

          <!-- Header -->
          <div class="row">
            <div class="col-auto ml-auto">

              <!-- Close -->
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                  &times;
                </span>
              </button>

            </div>
          </div> <!-- / .row -->

          <div class="row">
            <div class="col">
              <h4 class="text-uppercase text-center text-muted mb-0">
                Deposit DAI
              </h4>
            </div>
          </div>
          <div class="row justify-content-center align-items-center">

            <div class="col-5 col-lg-6">
              <input type="tel"
                class="d-none d-lg-flex form-control form-control-flush input-text-lg font-weight-bold text-dark text-center"
                placeholder="0" data-mask="#,##0.00" data-mask-reverse="true" min="0" [ngModel]="depositActionAmount.toNumber()" (ngModelChange)="onDepositActionAmountChange($event)">
              <input type="tel"
                class="d-flex d-lg-none form-control form-control-flush h1 font-weight-bold text-dark text-center"
                placeholder="0" data-mask="#,##0.00" data-mask-reverse="true" min="0" [ngModel]="depositActionAmount.toNumber()" (ngModelChange)="onDepositActionAmountChange($event)">
            </div>
          </div> <!-- / .row -->
          <div class="row">
            <div class="col">
              <h6 class="text-uppercase text-center text-muted my-3">
                Available for deposit: {{depositActionUserBalance.toFormat(18)}} DAI
              </h6>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex align-items-center justify-content-between px-0 pb-2">
                  <div>
                    <small>Lock period</small><br>
                    <small class="text-muted">91 days minimum</small>
                  </div>
                  <div class="input-group ml-auto w-50">
                    <input type="tel"
                      class="form-control form-control-flush font-weight-bold text-dark h2 text-right mb-0" min="90" value="90"
                      placeholder="90" data-mask="#,##0" data-mask-reverse="true" id="lock-period" [ngModel]="depositActionLockPeriod.toNumber()" (ngModelChange)="onDepositActionDepositPeriodChange($event)">
                    <div class="input-group-append">
                      <span class="input-group-text border-0 text-secondary bg-transparent text-right pr-0"
                        id="lock-period">days</span>
                    </div>
                  </div>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Fixed APY</small> <span class="h2 mb-0">{{depositActionAPY.toFormat(2)}}%</span>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Upfront interest</small> <span class="display-4 mb-0 text-success">${{depositActionInterest.toFormat(2)}}</span>
                </li>
              </ul>
              <button class="btn btn-block btn-success" type="button" name="button" (click)="deposit()">Make Deposit</button>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Withdraw modal -->
  <div class="modal fade" id="modalWithdraw" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content bg-lighter">
        <div class="modal-body">

          <!-- Header -->
          <div class="row">
            <div class="col-auto ml-auto">

              <!-- Close -->
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                  &times;
                </span>
              </button>

            </div>
          </div> <!-- / .row -->

          <div class="row">
            <div class="col">
              <h4 class="text-uppercase text-center text-muted">
                Available for withdraw
              </h4>
            </div>
          </div>
          <div class="row justify-content-center align-items-center">
            <div class="col">
              <h1 class="text-center">1,000.00 DAI</h1>
            </div>
          </div> <!-- / .row -->
          <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
              <button class="btn btn-block btn-success" type="button" name="button">Withdraw DAI</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Deposit details modal -->
  <div class="modal fade" id="modalDetailTx" tabindex="-1" role="dialog" aria-hidden="true" *ngIf="selectedDeposit">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content bg-lighter">
        <div class="modal-body">

          <!-- Header -->
          <div class="row">
            <div class="col-auto ml-auto">

              <!-- Close -->
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                  &times;
                </span>
              </button>

            </div>
          </div> <!-- / .row -->
          <div class="row my-4">
            <div class="col">
              <h4 class="text-uppercase text-center text-muted mb-0">
                DAI
                <span class="d-inline-block" *ngIf="selectedDeposit.maturationTimestamp > now">🔒 Locked</span>
                <span class="d-inline-block" *ngIf="now >= selectedDeposit.maturationTimestamp">💸 Unlocked</span>
              </h4>
              <div class="display-4 my-3 text-center">{{selectedDeposit.amount.toFormat(2)}}</div>
              <h6 class="text-uppercase text-center text-muted mb-0">
                ~${{selectedDeposit.amount.toFormat(2)}}
              </h6>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <div>
                    <small>Lock period</small><br>
                    <small
                      class="text-dark font-weight-bold">{{getTimeDifferenceDays(selectedDeposit.maturationTimestamp, selectedDeposit.depositTimestamp)}}
                      days</small>
                  </div>
                  <div class="text-right">
                    <small>Time left</small><br>
                    <small
                      class="text-dark font-weight-bold mb-0">{{getTimeDifferenceString(selectedDeposit.maturationTimestamp, now)}}</small>
                  </div>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <div>
                    <small>Deposit time</small>
                  </div>
                  <div class="text-right">
                    <small
                      class="text-dark font-weight-bold mb-0">{{selectedDeposit.depositTimestamp.toLocaleString()}}</small>
                  </div>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <div>
                    <small>Unlock time</small>
                  </div>
                  <div class="text-right">
                    <small
                      class="text-dark font-weight-bold mb-0">{{selectedDeposit.maturationTimestamp.toLocaleString()}}</small>
                  </div>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Fixed APY</small> <span
                    class="text-dark mb-0">{{calcDepositAPY(selectedDeposit).toFormat(2)}}%</span>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Upfront interest</small> <span
                    class="h2 mb-0 text-success">${{selectedDeposit.interestEarned.toFormat(2)}}</span>
                </li>
              </ul>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>


  <!-- Nav bar -->
  <nav class="navbar border-0 bg-black">
    <div class="container justify-content-between">
      <!-- Brand -->
      <a class="align-items-center" href="./index.html">
        <img class="mb-1 d-none d-lg-inline-block" src="assets/img/logo.png" alt="88mph" height="64">
        <img class="mb-1 d-flex d-lg-none" src="assets/img/logo.png" alt="88mph" height="48">
      </a>
      <div class="d-none d-lg-flex">
        <a class="mr-5 text-white" href="#hdiw">How does it work?</a>
        <a class="text-white" href="#stats">Stats</a>
      </div>
      <button type="button" class="btn btn-outline-white" (click)="connectWallet(false)">
        <ng-container *ngIf="!userAddress">Connect wallet</ng-container>
        <ng-container *ngIf="userAddress">{{userAddress.slice(0, 11)}}...</ng-container>
      </button>
    </div>
  </nav>


  <!-- MAIN CONTENT
    ================================================== -->
  <div class="main-content pt-4 pb-7 bg-black">

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6 text-center">
          <!-- Pretitle -->
          <h5 class="header-pretitle">
            Earn <span class="text-white">{{oneYearInterestRate.toFormat(2)}}%</span> Upfront Fixed APY*
          </h5>

          <!-- Title -->
          <h1 class="header-title display-4 text-white mb-4">
            ${{userTotalInterestEarned.toFormat(2)}}
          </h1>
          <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
            <a class="btn btn btn-lg animated-background text-white border-0" data-toggle="modal"
              data-target="#modalDeposit" (click)="openDepositActionModal()">Deposit</a>
            <a class="btn btn-dark text-white" data-toggle="modal" data-target="#modalWithdraw">Withdraw</a>
          </div>

        </div>
      </div>
    </div>


  </div><!-- / .main-content -->

  <div class="main-content">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
          <div class="card mt-n38">
            <div class="card-header">
              <div class="">
                <h6 class="text-uppercase text-muted mb-2">
                  Total deposited
                </h6>
                <h2 class="mb-0">${{userTotalActiveDeposit.toFormat(2)}}</h2>
              </div>
              <div class="text-right">
                <h6 class="text-uppercase text-muted mb-2">
                  Interest earned
                </h6>
                <h2 class="text-success mb-0">${{userTotalInterestEarned.toFormat(2)}}</h2>
              </div>

            </div>
            <div class="card-body">

              <!-- List group -->
              <div class="list-group list-group-flush my-n3">
                <!-- IDEA: first user's session -->
                <ng-container *ngIf="!(userAddress && userDeposits.length)">
                  <a class="list-group-item" href="#" data-toggle="modal" data-target="#modalDeposit"
                    (click)="openDepositActionModal()">
                    <div class="row align-items-center">
                      <div class="col-auto">

                        <!-- Avatar -->
                        <div class="avatar avatar-sm">
                          <img src="assets/img/DAI_mcd.png" alt="DAI" class="avatar-img rounded">
                        </div>

                      </div>
                      <div class="col ml-n2">

                        <!-- Title -->
                        <h4 class="font-weight-normal mb-1  text-dark">
                          Deposit DAI
                        </h4>

                        <!-- Text -->
                        <small class="text-muted">
                          Earn <strong>{{oneYearInterestRate.toFormat(2)}}%</strong> upfront fixed APY 🤑
                        </small>

                      </div>
                      <div class="col-auto">
                        <span class="fe fe-arrow-right text-dark"></span>
                      </div>
                    </div> <!-- / .row -->
                  </a>
                </ng-container>

                <!-- IDEA: recurring user -->
                <ng-container *ngFor="let deposit of userDeposits">
                  <a class="list-group-item" href="#" data-toggle="modal" data-target="#modalDetailTx"
                    (click)="openDepositDetails(deposit)">
                    <div class="row align-items-center">
                      <div class="col-auto">

                        <!-- Avatar -->
                        <div class="avatar avatar-sm">
                          <img src="assets/img/DAI_mcd.png" alt="DAI" class="avatar-img rounded">
                        </div>

                      </div>
                      <div class="col ml-n2">

                        <!-- Title -->
                        <h4 class="font-weight-normal mb-1  text-dark">
                          {{deposit.amount.toFormat(2)}} DAI
                          <ng-container *ngIf="deposit.maturationTimestamp > now; else displayUnlockedIcon">
                            🔒
                          </ng-container>
                          <ng-template #displayUnlockedIcon>
                            💸
                          </ng-template>
                        </h4>

                        <!-- Text -->
                        <small class="text-muted">
                          at <strong>{{calcDepositAPY(deposit).toFormat(2)}}%</strong> fixed APY
                        </small>

                      </div>
                      <div class="col-auto text-right">
                        <span class="text-success d-block">{{deposit.interestEarned.toFormat(2)}} DAI</span>
                        <span class="text-muted small">${{deposit.interestEarned.toFormat(2)}}</span>
                      </div>
                    </div> <!-- / .row -->
                  </a>
                </ng-container>
              </div>
            </div> <!-- / .card-body -->
          </div>
          <p class="text-center">* Rate for a one year deposit</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 px-5 px-lg-3 col-lg-6">
          <div class="header mt-md-5" id="hdiw">
            <div class="header-body">

              <!-- Pretitle -->
              <h1 class="header-pretitle h6">
                Getting started
              </h1>

              <!-- Title -->
              <h2 class="header-title display-4">
                How does 88mph work?
              </h2>

            </div>
          </div>
          <p class="text-danger">💀 This project is in beta. Use at your own risk.</p>
          <div class="header mt-md-5">
            <div class="header-body">

              <!-- Title -->
              <h3 class="header-title h1">
                1. Deposit
              </h3>

            </div>
          </div>
          <p>Connect your <a class="text-decoration-underline text-dark" href="https://ethereum.org/wallets/"
              target="_blank">Ethereum wallet</a> to 88mph and deposit your <a
              class="text-decoration-underline text-dark" href="https://makerdao.com/en/dai/" target="_blank">DAI</a>
            into the pool. Your deposit is locked in 88mph's pool for a minimum
            of 90 days. A longer lock period means a larger amount of upfront fixed-rate interest.</p>
          <div class="header mt-md-5">
            <div class="header-body">

              <!-- Title -->
              <h3 class="header-title h1">
                2. Earn <strong class="interest-rate">{{oneYearInterestRate.toFormat(2)}}%</strong> upfront fixed-rate
                interest
              </h3>

            </div>
          </div>
          <p>Here's the cool part: You get the interest upfront! It's like your interest is travelling back
            from the future! While you get your fixed-rate APY instantly, your deposit will generate interests
            during the lock period for the 88mph's pool at a variable APY on <a
              class="text-decoration-underline text-dark" href="https://compound.finance/" target="_blank">Compound</a>
            protocol, insuring the stability of 88mph's pool.</p>
          <img class="img-fluid" src="https://media.giphy.com/media/xsF1FSDbjguis/giphy.gif" alt="Back to the future ">
          <div class="header mt-md-5">
            <div class="header-body">

              <!-- Title -->
              <h3 class="header-title h1">
                3. Withdraw
              </h3>

            </div>
          </div>
          <p>When the lock period is over, withdraw your initial deposit. If you deposited 100.00 DAI, yeah,
            you get back 100.00 DAI.</p>
          <div class="header mt-md-5">
            <div class="header-body">

              <!-- Title -->
              <h3 class="header-title h1">
                88mph fees disclosures
              </h3>

            </div>
          </div>
          <p>
            88mph charges a 10% fee on your upfront interest.</p>
          <div class="header mt-md-5">
            <div class="header-body">

              <!-- Title -->
              <h3 class="header-title h1">
                88mph risk disclosure
              </h3>

            </div>
          </div>
          <p>
            If the interest rate offered by 88mph's underlying money market (e.g. Compound) drops too low,
            and many users try to withdraw at the same time, then 88mph could be temporarily insolvent,
            forcing users to wait a bit more to be able to withdraw their full deposit.
          </p>
          <p>
            Even though this risk is
            present, 88mph is planning to mitigate
            it with sponsored deposits that help maintain the pool's solvency while offering
            visibility to 88mph's sponsors.
          </p>
          <div class="header mt-md-5">
            <div class="header-body">
              <div class="row align-items-center">
                <div class="col">

                  <!-- Title -->
                  <h3 class="header-title h1">
                    Need more info?
                  </h3>

                </div>
                <div class="col-auto">

                  <a class="btn btn-outline-primary ml-auto" href="https://twitter.com/88mphapp" target="_blank">Drop us
                    a line</a>

                </div>
              </div>


            </div>
          </div>

          <!-- Stats -->
          <div class="header mt-md-5" id="stats">
            <div class="header-body">

              <!-- Title -->
              <h3 class="header-title h1">
                Stats
              </h3>

            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="card">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col">

                      <!-- Title -->
                      <h6 class="text-uppercase text-muted mb-2">
                        88mph total deposit
                      </h6>

                      <!-- Heading -->
                      <span class="h2 mb-0">
                        ${{totalActiveDeposit.toFormat(2)}}
                      </span>

                    </div>
                  </div> <!-- / .row -->

                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col">

                      <!-- Title -->
                      <h6 class="text-uppercase text-muted mb-2">
                        88mph total value
                      </h6>

                      <!-- Heading -->
                      <span class="h2 mb-0">
                        ${{totalValue.toFormat(2)}}
                      </span>

                    </div>
                  </div> <!-- / .row -->

                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6">

              <div class="card">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col">

                      <!-- Title -->
                      <h6 class="text-uppercase text-muted mb-2">
                        Total interest earned by lenders
                      </h6>

                      <!-- Heading -->
                      <span class="h2 mb-0">
                        ${{totalInterestPaid.toFormat(2)}}
                      </span>

                    </div>
                  </div> <!-- / .row -->

                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col">

                      <!-- Title -->
                      <h6 class="text-uppercase text-muted mb-2">
                        Total lenders
                      </h6>

                      <!-- Heading -->
                      <span class="h2 mb-0">
                        {{numActiveUsers.toFormat(0)}}
                      </span>

                    </div>
                  </div> <!-- / .row -->

                </div>
              </div>
            </div>
          </div>
          <div class="text-center mb-4">
            <!-- Preheading -->
            <h6 class="text-uppercase text-muted text-center my-4">
              Stay tuned for new releases.
            </h6>
            <form action="https://app.us20.list-manage.com/subscribe/post?u=3691177c244a72d16cb1bd0a7&id=e6b03f428d"
              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
              class="validate w-100 mb-6" target="_blank" novalidate="">
              <input style="border-bottom-right-radius: 0; border-bottom-left-radius: 0;"
                class="form-control form-control-lg mb-0 text-center border-bottom-0 bg-light" type="email" value=""
                name="EMAIL" id="mce-EMAIL" placeholder="myemail@address.com" required="">
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                  name="b_3691177c244a72d16cb1bd0a7_e6b03f428d" tabindex="-1" value=""></div>
              <div class="input-group-append">
                <button class="btn btn-lg btn-block animated-background text-white border-0 py-3" name="subscribe"
                  id="mc-embedded-subscribe" style="border-top-right-radius: 0; border-top-left-radius: 0;">Update
                  me</button>
              </div>
            </form>
          </div>
          <div class="text-center mb-4">
            <a href="https://twitter.com/88mphapp" target="_blank">
              <i class="fe fe-twitter h1"></i>
            </a>
          </div>
          <div class="text-center text-secondary mb-5">
            Made by <a class="white-link-underlined" href="https://baconlabs.dev" target="_blank">🥓 Bacon
              Labs</a> • hello@baconlabs.dev
          </div>
        </div>
      </div>
    </div>
  </div>
</div>