<div class="bg-light">

  <!-- MODALS
    ================================================== -->
  <!-- Deposit modal -->
  <div class="modal fade" id="modalDeposit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content bg-lighter">
        <div class="modal-body">

          <!-- Header -->
          <div class="row">
            <div class="col-auto ml-auto">

              <!-- Close -->
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                  &times;
                </span>
              </button>

            </div>
          </div> <!-- / .row -->

          <div class="row">
            <div class="col">
              <h4 class="text-uppercase text-center text-muted mb-0">
                Deposit DAI
              </h4>
            </div>
          </div>
          <div class="row justify-content-center align-items-center">

            <div class="col-5 col-lg-6">
              <input type="tel"
                class="d-none d-lg-flex form-control form-control-flush input-text-lg font-weight-bold text-dark text-center"
                placeholder="0" data-mask="#,##0.00" data-mask-reverse="true" min="0"
                [ngModel]="depositActionAmount.toNumber()" (ngModelChange)="onDepositActionAmountChange($event)">
              <input type="tel"
                class="d-flex d-lg-none form-control form-control-flush h1 font-weight-bold text-dark text-center"
                placeholder="0" data-mask="#,##0.00" data-mask-reverse="true" min="0"
                [ngModel]="depositActionAmount.toNumber()" (ngModelChange)="onDepositActionAmountChange($event)">
            </div>
          </div> <!-- / .row -->
          <div class="row">
            <div class="col">
              <h6 class="text-uppercase text-center text-muted my-3">
                Available for deposit: {{depositActionUserBalance.toFormat(18)}} DAI
              </h6>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex align-items-center justify-content-between px-0 pb-2">
                  <div>
                    <small>Lock period</small><br>
                    <small class="text-muted">91 days minimum</small>
                  </div>
                  <div class="input-group ml-auto w-50">
                    <input type="tel"
                      class="form-control form-control-flush font-weight-bold text-dark h2 text-right mb-0" min="91"
                      value="91" placeholder="91" data-mask="#,##0" data-mask-reverse="true" id="lock-period"
                      [ngModel]="depositActionLockPeriod.toNumber()"
                      (ngModelChange)="onDepositActionDepositPeriodChange($event)">
                    <div class="input-group-append">
                      <span class="input-group-text border-0 text-secondary bg-transparent text-right pr-0"
                        id="lock-period">days</span>
                    </div>
                  </div>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Fixed APY</small> <span class="h2 mb-0">{{depositActionAPY.toFormat(DECIMALS)}}%</span>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Upfront interest</small> <span
                    class="display-4 mb-0 text-success">${{depositActionInterest.toFormat(DECIMALS)}}</span>
                </li>
              </ul>
              <h6 class="text-uppercase text-center text-muted my-3">
                Note: you may need to send multiple transactions
              </h6>
              <button class="btn btn-block btn-success" type="button" name="button" (click)="deposit()">Make
                Deposit</button>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Withdraw modal -->
  <div class="modal fade" id="modalWithdraw" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content bg-lighter">
        <div class="modal-body">

          <!-- Header -->
          <div class="row">
            <div class="col-auto ml-auto">

              <!-- Close -->
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                  &times;
                </span>
              </button>

            </div>
          </div> <!-- / .row -->

          <div class="row">
            <div class="col">
              <h4 class="text-uppercase text-center text-muted">
                Available for withdraw
              </h4>
            </div>
          </div>
          <div class="row justify-content-center align-items-center">
            <div class="col">
              <h1 class="text-center">{{withdrawActionAmount.toFormat(18)}} DAI</h1>
            </div>
          </div> <!-- / .row -->
          <ng-container *ngIf="withdrawActionAmount.gt(0)">
            <div class="row justify-content-center">
              <div class="col-12 col-lg-6">
                <h6 class="text-uppercase text-center text-muted my-3">
                  Note: you may need to send multiple transactions
                </h6>
                <button class="btn btn-block btn-success" type="button" name="button"
                  (click)="withdraw()">Withdraw</button>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <!-- Deposit details modal -->
  <div class="modal fade" id="modalDetailTx" tabindex="-1" role="dialog" aria-hidden="true" *ngIf="selectedDeposit">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content bg-lighter">
        <div class="modal-body">

          <!-- Header -->
          <div class="row">
            <div class="col-auto ml-auto">

              <!-- Close -->
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                  &times;
                </span>
              </button>

            </div>
          </div> <!-- / .row -->
          <div class="row my-4">
            <div class="col">
              <h4 class="text-uppercase text-center text-muted mb-0">
                DAI
                <span class="d-inline-block" *ngIf="selectedDeposit.maturationTimestamp > now">🔒 Locked</span>
                <span class="d-inline-block" *ngIf="now >= selectedDeposit.maturationTimestamp">💸 Unlocked</span>
              </h4>
              <div class="display-4 my-3 text-center">{{selectedDeposit.amount.toFormat(DECIMALS)}}</div>
              <h6 class="text-uppercase text-center text-muted mb-0">
                ~${{selectedDeposit.amount.toFormat(DECIMALS)}}
              </h6>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <div>
                    <small>Lock period</small><br>
                    <small
                      class="text-dark font-weight-bold">{{getTimeDifferenceDays(selectedDeposit.maturationTimestamp, selectedDeposit.depositTimestamp)}}
                      days</small>
                  </div>
                  <div class="text-right">
                    <small>Time left</small><br>
                    <small
                      class="text-dark font-weight-bold mb-0">{{getTimeDifferenceString(selectedDeposit.maturationTimestamp, now)}}</small>
                  </div>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <div>
                    <small>Deposit time</small>
                  </div>
                  <div class="text-right">
                    <small
                      class="text-dark font-weight-bold mb-0">{{selectedDeposit.depositTimestamp.toLocaleString()}}</small>
                  </div>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <div>
                    <small>Unlock time</small>
                  </div>
                  <div class="text-right">
                    <small
                      class="text-dark font-weight-bold mb-0">{{selectedDeposit.maturationTimestamp.toLocaleString()}}</small>
                  </div>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Fixed APY</small> <span
                    class="text-dark mb-0">{{calcDepositAPY(selectedDeposit).toFormat(DECIMALS)}}%</span>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Upfront interest</small> <span
                    class="h2 mb-0 text-success">${{selectedDeposit.interestEarned.toFormat(DECIMALS)}}</span>
                </li>
              </ul>
            </div>

          </div>
          <ng-container *ngIf="selectedDeposit.canEarlyWithdraw">
            <div class="row justify-content-center">
              <div class="col-12 col-lg-6">
                <button class="btn btn-block btn-outline-secondary" type="button" name="button" data-toggle="modal"
                  data-target="#modalEarlyWithdraw" (click)="openEarlyWithdrawModal()">Withdraw Early</button>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <!-- Early withdraw modal -->
  <div class="modal fade" id="modalEarlyWithdraw" tabindex="-1" role="dialog" aria-hidden="true"
    *ngIf="selectedDeposit">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-body">

          <!-- Header -->
          <div class="row">
            <div class="col-auto ml-auto">

              <!-- Close -->
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                  &times;
                </span>
              </button>

            </div>
          </div> <!-- / .row -->

          <div class="row">
            <div class="col">
              <h4 class="text-uppercase text-center text-muted">
                Withdraw now
              </h4>
            </div>
          </div>
          <div class="row justify-content-center align-items-center">
            <div class="col">
              <h1 class="text-center text-light">{{selectedDeposit.amount.toFormat(18)}} DAI</h1>
            </div>
          </div> <!-- / .row -->
          <div class="row">
            <div class="col">
              <h4 class="text-uppercase text-center text-muted">
                By paying a penalty of
              </h4>
            </div>
          </div>
          <div class="row justify-content-center align-items-center">
            <div class="col">
              <h1 class="text-center text-light">{{unapplyFee(selectedDeposit.interestEarned).toFormat(18)}} DAI</h1>
            </div>
          </div> <!-- / .row -->
          <div class="row">
            <div class="col">
              <h6 class="text-uppercase text-center text-muted my-3">
                Your balance: {{earlyWithdrawActionUserBalance.toFormat(18)}} DAI
              </h6>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
              <h6 class="text-uppercase text-center text-muted my-3">
                Note: you may need to send multiple transactions
              </h6>
              <button class="btn btn-block btn-success" type="button" name="button" (click)="earlyWithdraw()">Withdraw
                Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





  <!-- MAIN CONTENT
    ================================================== -->
  <div class="bg-ellipses bg-88-curved">
    <!-- Nav bar -->
    <nav class="navbar border-0">
      <div class="container justify-content-between">
        <!-- Brand -->
        <a class="align-items-center" href="./index.html">
          <img class="mb-1 d-none d-lg-inline-block" src="assets/img/logo.png" alt="88mph" height="64">
          <img class="mb-1 d-flex d-lg-none" src="assets/img/logo.png" alt="88mph" height="48">
        </a>
        <div class="d-none d-lg-flex">
          <a class="text-white" href="https://88mph.app/docs">Documentation</a>
        </div>
        <button type="button" class="btn btn-outline-white" (click)="connectWallet(false)">
          <ng-container *ngIf="!userAddress">Connect wallet</ng-container>
          <ng-container *ngIf="userAddress">{{userAddress.slice(0, 10)}}...</ng-container>
        </button>
      </div>
    </nav>
    <div class="main-content pt-4 pb-7">

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-6 text-center">
            <!-- Pretitle -->
            <span class="h5 mb-0 header-pretitle text-white d-block">
              Earn
            </span>
            <span
              class="display-2 text-white d-block animated-under-text">{{oneYearInterestRate.toFormat(DECIMALS)}}%</span>
            <span class="h5 header-pretitle text-white d-block mb-5">
              Upfront Fixed APY*
            </span>

            <a class="btn btn-lg animated-background text-white" data-toggle="modal" data-target="#modalDeposit"
              (click)="openDepositActionModal()">Deposit</a>
            <a class="btn btn-lg btn-dark text-white ml-3" data-toggle="modal" data-target="#modalWithdraw"
              (click)="openWithdrawActionModal()" [ngClass]="{'disabled': !userAddress}">Withdraw</a>
          </div>
        </div>
      </div>


    </div><!-- / .main-content -->
  </div>

  <div class="main-content">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
          <div class="card mt-n38">
            <div class="card-header">
              <div class="">
                <h6 class="text-uppercase text-muted mb-2">
                  Total deposited
                </h6>
                <h2 class="mb-0">${{userTotalActiveDeposit.toFormat(DECIMALS)}}</h2>
              </div>
              <div class="text-right">
                <h6 class="text-uppercase text-muted mb-2">
                  Interest earned
                </h6>
                <h2 class="text-success mb-0">${{userTotalInterestEarned.toFormat(DECIMALS)}}</h2>
              </div>

            </div>
            <div class="card-body">

              <!-- List group -->
              <div class="list-group list-group-flush my-n3">
                <!-- IDEA: first user's session -->
                <ng-container *ngIf="!(userAddress && userDeposits.length)">
                  <a class="list-group-item" href="#" data-toggle="modal" data-target="#modalDeposit"
                    (click)="openDepositActionModal()">
                    <div class="row align-items-center">
                      <div class="col-auto">

                        <!-- Avatar -->
                        <div class="avatar avatar-sm">
                          <img src="assets/img/DAI_mcd.png" alt="DAI" class="avatar-img rounded">
                        </div>

                      </div>
                      <div class="col ml-n2">

                        <!-- Title -->
                        <h4 class="font-weight-normal mb-1  text-dark">
                          Deposit DAI
                        </h4>

                        <!-- Text -->
                        <small class="text-muted">
                          Earn <strong>{{oneYearInterestRate.toFormat(DECIMALS)}}%</strong> upfront fixed APY 🤑
                        </small>

                      </div>
                      <div class="col-auto">
                        <span class="fe fe-arrow-right text-dark"></span>
                      </div>
                    </div> <!-- / .row -->
                  </a>
                </ng-container>

                <!-- IDEA: recurring user -->
                <ng-container *ngFor="let deposit of userDeposits">
                  <a class="list-group-item" href="#" data-toggle="modal" data-target="#modalDetailTx"
                    (click)="openDepositDetails(deposit)">
                    <div class="row align-items-center">
                      <div class="col-auto">

                        <!-- Avatar -->
                        <div class="avatar avatar-sm">
                          <img src="assets/img/DAI_mcd.png" alt="DAI" class="avatar-img rounded">
                        </div>

                      </div>
                      <div class="col ml-n2">

                        <!-- Title -->
                        <h4 class="font-weight-normal mb-1  text-dark">
                          {{deposit.amount.toFormat(DECIMALS)}} DAI
                          <ng-container *ngIf="deposit.maturationTimestamp > now; else displayUnlockedIcon">
                            🔒
                          </ng-container>
                          <ng-template #displayUnlockedIcon>
                            💸
                          </ng-template>
                        </h4>

                        <!-- Text -->
                        <small class="text-muted">
                          at <strong>{{calcDepositAPY(deposit).toFormat(DECIMALS)}}%</strong> fixed APY
                        </small>

                      </div>
                      <div class="col-auto text-right">
                        <span class="text-success d-block">{{deposit.interestEarned.toFormat(DECIMALS)}} DAI</span>
                        <span class="text-muted small">${{deposit.interestEarned.toFormat(DECIMALS)}}</span>
                      </div>
                    </div> <!-- / .row -->
                  </a>
                </ng-container>
              </div>
            </div> <!-- / .card-body -->
          </div>
          <p class="text-center">* Rate for a one year deposit</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-11 col-md-10">
          <h2 class="display-3 text-center">
            How does it work?
          </h2>
          <p class="text-center lead text-secondary mb-5">Lock your $DAI, and earn upfront fixed APY. It's like your
            interest is travelling back from the future! Check our <a href="https://88mph.app/docs"
              target="_blank">Documentation</a></p>
          <img class="d-block mx-auto img-fluid mb-4" src="assets/img/illustrations/delorean.png" alt="" width="388">
          <div class="row mb-5">
            <div class="col-12 col-lg-4 mb-6 mb-lg-4">
              <!-- Card -->
              <div class="card h-100">
                <div class="card-body text-center">
                  <div class="avatar avatar-xl card-avatar card-avatar-top">
                    <span
                      class="border border-1 avatar-title bg-white rounded-circle font-weight-bold text-secondary">1</span>
                  </div>
                  <h2 class="card-title">
                    Deposit
                  </h2>
                  <p class="card-text text-secondary">
                    Connect your <a href="https://ethereum.org/wallets/" target="_blank">Ethereum wallet</a> to 88mph
                    and deposit your <a href="https://makerdao.com/en/dai/" target="_blank">DAI</a> into the pool. Your
                    deposit is locked in 88mph's pool for a minimum of 91 days.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4 mb-6 mb-lg-4">
              <!-- Card -->
              <div class="card h-100">
                <div class="card-body text-center">
                  <div class="avatar avatar-xl card-avatar card-avatar-top">
                    <span
                      class="border border-1 avatar-title bg-white rounded-circle font-weight-bold text-secondary">2</span>
                  </div>
                  <h2 class="card-title">
                    Earn {{oneYearInterestRate.toFormat(DECIMALS)}}%* upfront fixed-rate interest
                  </h2>
                  <p class="card-text text-secondary">
                    It's like your interest is travelling back from the future! While you get your fixed APY instantly,
                    your deposit will generate interests during the lock period for the 88mph's pool at a variable APY
                    on <a href="https://compound.finance/" target="_blank">Compound</a> and <a href="https://aave.com/"
                      target="_blank">Aave</a> protocol, insuring the stability of 88mph's pool.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4 mb-6 mb-lg-4">
              <!-- Card -->
              <div class="card h-100">
                <div class="card-body text-center">
                  <div class="avatar avatar-xl card-avatar card-avatar-top">
                    <span
                      class="border border-1 avatar-title bg-white rounded-circle font-weight-bold text-secondary">3</span>
                  </div>
                  <h2 class="card-title">
                    Withdraw
                  </h2>
                  <p class="card-text text-secondary">
                    Withdraw your initial deposit before maturity by paying a penalty* or when the lock period is over.
                    If you deposited 100.00 DAI, yeah, you get back 100.00 DAI.
                  </p>
                  <small class="text-muted d-block mb-3">*Equal to your upfront interest + 10% fee applied on your
                    upfront interest</small>
                </div>
              </div>
            </div>
          </div>
          <img class="d-block mx-auto img-fluid" src="assets/img/illustrations/rageface.png" alt="" width="128">
          <p class="text-center lead animated-under-text">It’s weird at first, we know.</p>
        </div>
      </div>
      <div class="row justify-content-center mb-5">
        <div class="col-11 col-md-10">
          <h3 class="h1 text-center mb-5">But it's real. Check our stats</h3>
          <div class="row mb-6">
            <div class="col-12 col-lg-6">
              <div class="card">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col">

                      <!-- Title -->
                      <h6 class="text-uppercase text-muted mb-2">
                        88mph total deposit
                      </h6>

                      <!-- Heading -->
                      <span class="h2 mb-0">
                        ${{totalActiveDeposit.toFormat(DECIMALS)}}
                      </span>

                    </div>
                  </div> <!-- / .row -->

                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col">

                      <!-- Title -->
                      <h6 class="text-uppercase text-muted mb-2">
                        88mph total value
                      </h6>

                      <!-- Heading -->
                      <span class="h2 mb-0">
                        ${{totalValue.toFormat(DECIMALS)}}
                      </span>

                    </div>
                  </div> <!-- / .row -->

                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6">

              <div class="card">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col">

                      <!-- Title -->
                      <h6 class="text-uppercase text-muted mb-2">
                        Total interest earned by lenders
                      </h6>

                      <!-- Heading -->
                      <span class="h2 mb-0">
                        ${{totalInterestPaid.toFormat(DECIMALS)}}
                      </span>

                    </div>
                  </div> <!-- / .row -->

                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col">

                      <!-- Title -->
                      <h6 class="text-uppercase text-muted mb-2">
                        Total lenders
                      </h6>

                      <!-- Heading -->
                      <span class="h2 mb-0">
                        {{numActiveUsers.toFormat(0)}}
                      </span>

                    </div>
                  </div> <!-- / .row -->

                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-6">
              <h3 class="h1">88mph risks disclosures</h3>
              <p>If the interest rate offered by 88mph's underlying money market (e.g. Compound) drops too low, and many
                users try to withdraw at the same time, then 88mph could be temporarily insolvent, forcing users to wait
                a bit more to be able to withdraw their full deposit.</p>
              <p>Even though this risk is present, 88mph is planning to mitigate it with sponsored deposits that help
                maintain the pool's solvency while offering visibility to 88mph's sponsors. </p>

              <!-- Title -->
              <h4>
                Need more info?
              </h4>
              <a class="btn btn-outline-primary ml-auto" href="https://twitter.com/88mphapp" target="_blank">Drop us a
                line</a>


            </div>
            <div class="col-12 col-lg-6">
              <h3 class="h1">Sponsored deposits</h3>
              <p>Sponsored deposits let companies or organizations support 88mph's security in exchange for their
                visibility on 88mph. Sponsored deposits are like normal deposits, except that you don't get the upfront
                interest and get counted separately in the statistics.</p>
              <p>Sponsoring 88mph won't have a direct cost, since sponsors can withdraw a deposit after its deposit
                period is over. However, sponsors will be shouldering risk for normal users, and may lose money if a
                black swan event occurs.</p>
              <p>We're going to release ASAP an UI for sponsored deposits. If you're interested in sponsoring, contact
                us at <a _ngcontent-chm-c24="" href="mailto:hello@baconlabs.dev" target="_top">hello@baconlabs.dev</a>
                or drop us a line on <a _ngcontent-chm-c24="" href="https://twitter.com/88mphapp"
                  target="_blank">Twitter</a></p>

            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 px-5 col-lg-6">
          <div class="text-center mb-4">
            <!-- Preheading -->
            <h6 class="text-uppercase text-muted text-center my-4">
              Stay tuned for new releases.
            </h6>
            <form action="https://app.us20.list-manage.com/subscribe/post?u=3691177c244a72d16cb1bd0a7&id=e6b03f428d"
              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
              class="validate w-100 mb-6" target="_blank" novalidate="">
              <input style="border-bottom-right-radius: 0; border-bottom-left-radius: 0;"
                class="form-control form-control-lg mb-0 text-center border-bottom-0 bg-light" type="email" value=""
                name="EMAIL" id="mce-EMAIL" placeholder="myemail@address.com" required="">
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                  name="b_3691177c244a72d16cb1bd0a7_e6b03f428d" tabindex="-1" value=""></div>
              <div class="input-group-append">
                <button class="btn btn-lg btn-block animated-background text-white border-0 py-3" name="subscribe"
                  id="mc-embedded-subscribe" style="border-top-right-radius: 0; border-top-left-radius: 0;">Update
                  me</button>
              </div>
            </form>

          </div>
          <div class="text-center mb-4">
            <a href="https://twitter.com/88mphapp" target="_blank">
              <i class="fe fe-twitter h1"></i>
            </a>
            <a href="https://github.com/Bacon-labs" target="_blank">
              <i class="fe fe-github h1 text-dark"></i>
            </a>
          </div>
          <div class="text-center text-secondary mb-5">
            Made by <a class="white-link-underlined" href="https://baconlabs.dev" target="_blank">🥓 Bacon Labs</a> •
            hello@baconlabs.dev
          </div>
        </div>
      </div>
    </div>
  </div>
</div>